@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
#survey-form{
    background-color:white;
    text-align: center;
}
body{
    background-color: lightgray;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
}
#description{
    color:gray;
    font-family: initial;
    font-size: 0.9em;
    margin-top: -20px;
    margin-bottom: 3em;
}
.row{
    padding:1em;
    text-align: center;
}
.left-col{
    display: inline-block;
}
.right-col{
    display: inline-block;
}

.elements{
    display: inline-block;
}
ul{
    list-style-type: none;
}

textarea{
    height: 70px;
    width: 200px;
}
button{
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}
.main{
  display: inline-block;
  border-radius: 4px;
  width: 75%;
  padding: 10px;
  padding-top: 20px;
}