@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body{
    background-color: #eee;
  font-family: 'Lato', sans-serif;
}

#header{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    position: fixed;
    width: 100%;
    top: 0%;
    background: #eee;
    border-bottom-style: ridge;
    margin-left: -8px;
}

#left-navbar{
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    justify-content: flex-start;
}
#nav-bar{
    display:flex;
    justify-content: space-around;
    grid-column-start: 3;
    flex-wrap: wrap;
}
.nav-link{
    font-size: 1.5em;
}
.form-section{ 

    display: flex;
    justify-content: center;
    padding-top: 180px;
}

#feature-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding-top: 100px;
}
#middle-col{
        grid-column-start:2;
}
.feature-1{
    display: flex;
    justify-content: space-between;
    padding-bottom:70px;
}
#video{
    padding-top: 70px;
}